h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vw;
    text-align: center;
  }

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2vw;
  }
/* Style for the title and logo images */
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-image {
    width: 15vh; /* Adjust the size as needed */
    height: auto;
}
/* Menu styling */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.menu a {
  display: inline-block;
  padding: 20px 40px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 40px;
  font-family: "Josefin Sans", sans-serif; 
  font-size: 2vw; /* Utiliser la même taille de police que le titre */
}

.menu a:hover {
  background-color: #ddd;
}

.team {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.team-member {
text-align: center;
font-family: "Josefin Sans", sans-serif;
}

.team-member img {
width: 150px;
height: 150px;
border-radius: 50%;
}

.intro-block {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vw;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.6;
}