body {
    font-family: Arial, sans-serif;
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vw;
    text-align: center;
  }
  
/* Style for the title and logo images */
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-image {
    width: 15vh; /* Adjust the size as needed */
    height: auto;
}
/* Menu styling */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.menu a {
  display: inline-block;
  padding: 20px 40px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 40px;
  font-family: "Josefin Sans", sans-serif; 
  font-size: 2vw; /* Utiliser la même taille de police que le titre */
}

.menu a:hover {
  background-color: #ddd;
}

#timeline-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}

#timeline {
    display: inline-block;
    position: relative;
    height: 300px;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    background: lightsteelblue;
    border: 1px solid #ddd;
    border-radius: 8px;
    pointer-events: none;
}

.year-label {
    text-anchor: middle;
    font-size: 10px;
}

.date-box {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}
.date-box.passed {
    stroke-width: 2px;
}

.year-display {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 1000;
}

#left-arrow {
    left: 0;
}

#right-arrow {
    right: 0;
}

/* Style pour le curseur */
.cursor {
    fill: red;
    stroke-width: 2;
    opacity: 0;
}

/* Style pour la ligne centrale */
.central-line {
    stroke: gray;
    stroke-width: 2;
}

/* Style pour la partie gauche de l'axe central */
.x.axis line {
    stroke: #000;
    stroke-width: 2;
}

.x.axis path {
    stroke: gray;
    stroke-width: 2;
    opacity: 0.5;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
.centered {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.olympics-table table {
    width: 100%;
    table-layout: fixed;
}

.olympics-table th, .olympics-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.olympics-table th {
    background-color: #f2f2f2;
}

.summer-title, .winter-title {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.winter-title {
    background-color: rgba(0, 0, 255, 0.7);;
    color: white;
}

.summer-title {
    background-color: rgba(255, 165, 0, 0.7);
    color: white;
}

.intro-block {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vw;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.6;
}