html {
  background-color: #ffff;
}


h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  text-align: center;
}


.center {
  text-align: center;
}

.logo-image {
  width: 600px; /* ou la taille que vous préférez */
  height: auto;
}

.menu {
  text-align: center;
  margin-top: 20px;
}

.menu a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.menu a:hover {
  background-color: #ddd;
}

.tooltip {
  background: #f9f9f9; 
  color: #333; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 10px 15px; 
  position: absolute;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
  transition: opacity 0.3s;
  opacity: 0; 
  font-family: "Josefin Sans", sans-serif; 
  font-size: 14px; 
  line-height: 1.4;
}

.tooltip .city-country {
  font-size: 16px;
  font-weight: bold; 
}

.tooltip .year {
  font-size: 14px; 
}

.tooltip.show {
  opacity: 1;
}

.legend-text {
  fill: #333;
  font-size: 18px; 
}

.legend-circle {
  stroke: black;
  stroke-width: 2;
}

.legend-container {
  transform: translate(50, 950); 
}

#mapContainer {
  margin-top: 20px;
}