

/* Define styles for the button */

/* Styling for headings */
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vw;
    text-align: center;
  }

  
.custom-button{
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color:rgb(255, 255, 255); /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No text decoration */
    display: inline-block; /* Display as inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor on hover */
    border-radius: 8px; /* Rounded corners */
  }
  

/* Center the category buttons */
.category-buttons {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}

/* Style the buttons */
.category-buttons button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

/* Change button style on hover */
.category-buttons button:hover {
    background-color: #45a049; /* Darker green */
}
  